@import "tailwindcss";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, serif;
  overflow: hidden;
  background: #c0bcc6;
  color: #111;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}